---
import { Icon } from "astro-icon/components";
import TagBadge from "./TagBadge.astro";

interface Props {
    title: string;
    desc?: string;
    href: string;
    date: string;
    tags: string[];
}

const { title, href, desc, date, tags } = Astro.props;
---

<div class="card m-8">
    <div class="card-body p-4">
        <h2 class="card-title"><a href={href}>{title}</a></h2>
        {desc && <p>{desc}</p>}
        <div
            class="card-actions flex flex-col items-start justify-start gap-4 md:flex-row md:items-center"
        >
            <!-- Date Item -->
            <div class="flex items-center gap-1">
                <Icon
                    name="material-symbols:date-range-outline"
                    class="text-base"
                />
                <span>{date}</span>
            </div>
            <!-- Tags Item -->
            {
                tags && tags.length > 0 && (
                    <div class="flex shrink-0 flex-wrap items-center gap-1">
                        <Icon
                            name="material-symbols:label-outline"
                            class="text-base"
                        />
                        {tags.map((tag) => (
                            <TagBadge name={tag} />
                        ))}
                    </div>
                )
            }
        </div>
    </div>
</div>
