---
import "../style/global.css";

import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import { getConfig, type Config } from "../config";
import { ClientRouter } from "astro:transitions";

interface Props {
    subtitle?: string;
}

const {
    site: { description, title },
}: Config = await getConfig();

const { subtitle } = Astro.props;

const pageTitle = subtitle ? `${title} - ${subtitle}` : title;
---

<html lang="zh-CN" class="hidden-scrollbar" data-theme="retro">
    <link href="https://fonts.cdnfonts.com/css/victor-mono" rel="stylesheet" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <meta name="title" content={pageTitle} />
    {description && <meta name="description" content={description} />}

    <ClientRouter />

    <body class="flex min-h-screen flex-col">
        <Navigation />

        <main class="flex-1">
            <slot />
        </main>

        <Footer />
    </body>
</html>
